# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
Leaf.ico
/Icons/ico
/Icons/0
/SettingDialog/SettingDialog_ui0.py
